[user]
  name = Benoit Brisset
  email = b.brisset@criteo.com

[alias]
  c = commit
  ch = checkout
  chm = checkout master
  s = status
  l = log --decorate --branches --remotes --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  d = "!f() { git diff | batcat --pager='less -FR'; }; f"
  b = branch
  a = add
  ai = add -i
  aip = add -ip
  f = fetch
  r = rebase
  fo = fetch origin
  ro = rebase origin/master
  p = push
  su = submodule
  suu = submodule update --init --recursive
  ll = log --decorate --branches --graph --remotes --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lp = "!f() { git log --decorate --oneline | fzf --multi --preview 'git show --color $(echo {}| cut -c -6)'; }; f"
  ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
  lll = log -u
  black = "!f() { pre-commit run black --all; }; f"
  clang = "!f() { pre-commit run clang-format-6.0 --all; }; f"
  review = "!f() { ref=${1:-HEAD} ; git push -f origin $ref:refs/for/master ; }; f"
  draft = "!f() { ref=${1:-HEAD} ; git push origin $ref:refs/drafts/master ; }; f"
  dreview = "!f() { ref=${1:-HEAD} ; git push origin $ref:refs/publish/develop ; }; f"
  rtsreview = "!f() { ref=${1:-HEAD} ; git push origin $ref:refs/publish/master ; ssh -p 29418 review.crto.in gerrit review --ready-to-submit 1 `git rev-parse $ref` ; }; f"
  greview = "!f() { ref=${1:-HEAD} ; git push gerrit $ref:refs/publish/master ; }; f"
  refresh = ![[ -z $(git status --porcelain -uno) ]] && git pull --rebase || git stash && git pull --rebase && git stash pop
  gerritclone = "!f() { git clone ssh://b.brisset@review.crto.in:29418/${1?missing_repo_name} && scp -p -P 29418 b.brisset@review.crto.in:hooks/commit-msg ${1##*/}/.git/hooks/ ; }; f"

[log]
  decorate=full

[color]
  branch=auto
  diff=auto
  interactive=auto
  status=auto
  grep=auto

[core]
  editor=/home/bbrisset/bin/tools/nvim.appimage
  excludesfile = /home/bbrisset/.gitignore_global
  pager = less

[merge]
  tool = vimdiff

[diff]
  tool = batcat

[grep]
	extendRegexp = true
	lineNumber = true
