[user]
	name = Benoit Brisset
	email = benoit.brisset@gmail.com

[alias]
  c = commit
  ch = checkout
  s = status
  l = log --decorate --branches --remotes --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  d = diff --histogram
  b = branch
  a = add
  ai = add -i
  aip = add -ip
  f = fetch
  r = rebase
  p = push
  su = submodule
  suu = submodule update --init --recursive
  ll = log --decorate --branches --graph --remotes --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lp = "!f() { git log --decorate --oneline | fzf --multi --preview 'git show --color $(echo {}| cut -c -6)'; }; f"
  black = "!f() { pre-commit run black --all; }; f"
  clang = "!f() { pre-commit run clang-format-6.0 --all; }; f"

[log]
  decorate=full

[color]
  branch=auto
  diff=auto
  interactive=auto
  status=auto
  grep=auto

[core]
  editor=vim
	excludesfile = /home/bbst/.gitignore_global
  pager = less

[merge]
  tool = vimdiff

